<h1>Search Results</h1>
<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Publisher: <%= @book.publisher %></p>

<div class="reviews">
<p>Number of reviews found: <%= @book.reviews.length %></p>
  <% @book.reviews.each do |review| %>
    <p><%= review.summary %></p>
    <p>Review Publication Date: <%= review.publish_date %></p>
  <% end %>
</div>
